In [1]:
# Solution

In [2]:
# Q1.
list1=[('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)]
newlist=sorted(list1,key= lambda x :  x[1],reverse=True)
print("Sort list by its integer value:\n",newlist)

Sort list by its integer value:
 [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
# Q2.
list1=[1,2,3,4,5,6,7,8,9,10]
squared_list=list(map(lambda x:x**2,list1))
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# Q3.
list1=[1,2,3,4,5,6,7,8,9,10]
coverted_string_tuple = tuple(map( lambda x : str(x),list1))
print("coverted string tuple is:\n",coverted_string_tuple)

coverted string tuple is:
 ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [10]:
# Q4.
from functools import reduce
list1=[]
for i in range(1,26):
    list1.append(i)
product = reduce(lambda x , y:x*y,list1)
print("Product of a list containing numbers from 1 to 25:\n",product)

Product of a list containing numbers from 1 to 25:
 15511210043330985984000000

In [12]:
# Q5.
list1 = [2,3,6,9,27,60,90,120,55,46]
filtered_list = list(filter(lambda x : x % 2 == 0 and x % 3 == 0,list1))
print("Filtered list which are divisible of 2 and 3 both are : \n",filtered_list)

Filtered list which are divisible of 2 and 3 both are :
 [6, 60, 90, 120]

In [ ]:
# Q6.
list1 = ['python', 'php', 'aba', 'radar', 'level']
filtered_list1 = list(filter(lambda i : i[::-1]==i,list1))
print("Palindromes in the given list of strings:\n",filtered_list1